<input type="text" ng-model="globalSearch.$" placeholder="{{searchbar}}" style="float: right">
<h1><center> Sign In To the portal </center> </h1>
<div style="background-color: orange">
   			    <center><a href="#" style="padding:1%"><b style="font-size: 150%" style="color: black;"> Home </b></a>
   			    <a href="#login" style="padding:1%"> <b style="font-size: 150%"> Login  </b></a>
   			    <a href="#aboutus"> <b style="font-size: 150%"> Aboutus </b></a>
   			    </center>
   			
</div>
<div ng-controller="epctrl" style="color: black" style="font-family-verdana;" style="text-align:center;">
<center>
<form  action="/" id="epsystemapp" style="padding-top: 10%">
	 <input type="text" ng-model="username" id="username" placeholder="{{abc}}" style="width: 10%"> <br> <br>
	 <input type="password" ng-model="password" id="password" placeholder="{{ abc1}}" style="width: 10%" ><br> <br>  
	<button type="button" ng-click="submit()" style="font-size: 100%" > Login </button> 
</form>
	</center>
</div>